header {
    text-align: center;
}

.depenses-form {
    min-width: 150px;
    max-width: 500px;
    width: 90%;
    margin: auto;
  }
  
.example-full-width {
    width: 100%;
}

.number{
    width:100px;
}
.number-input{
    width:50px;
}

.d-card{
    width: 80%;
}