<header>
    <!--
        <button mat-raised-button color="warn" (click)="downloadFile()">Télécharger</button>
        <button mat-raised-button color="warn" (click)="test.click()">Import</button>

    <input
    style="display:none;"
    type="file" #csvReader
    name="Upload CSV"
    id="txtFileUpload"
    #test
    (change)="uploadListener($event)" accept=".csv"
    />
    -->

<!--Afaire

    liste modifiable avec auteur

-->
 <h1>Le plus rapide gagne 5</h1>

        <div  class="buttonDiv1" style="max-width:10000px;">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Principale">

                            <button mat-raised-button color="primary" class="go" [ngClass]="{'hide':wait}" (click)="add()">Go</button>
                            <p>
                              <button mat-raised-button color="warn" class="go" [ngClass]="{'hide':wait}" (click)="deleteAll()">DeleteAll</button>
                            </p>



                </mat-tab>


                <mat-tab label="Cartes">
                   <app-items-viewer [items]="items"></app-items-viewer>
                </mat-tab>



                <mat-tab label="Lancer">

                    <p>
                        <button mat-raised-button color="accent" (click)="set()">Lancer</button>
                    </p>

                    <mat-slider
                            [max]="10"
                            [min]="2"
                            [step]="1"
                            [(ngModel)]="secondes">
                    </mat-slider>
                    <div class="example-label-container" >
                        <label >Nombre de secondes</label>
                        <br>
                        <label class="example-value-label">{{secondes}}</label>
                    </div>
                </mat-tab>
              </mat-tab-group>




    </div>

<!--     <h1>Les dépenses test</h1>

    <div  class="buttonDiv1" style="max-width:10000px;">
        <mat-grid-list cols="4" rowHeight="200px">
            <mat-grid-tile *ngFor="let e of (items2)">
                <mat-card class="home-card">
                    <mat-card-title>{{e.auteur}}</mat-card-title>
                    <mat-card-subtitle>{{e.date}}</mat-card-subtitle>
                    <mat-card-content>
                        <p>{{e.prix}} $</p>
                        <p>{{e.message}}</p>
                    </mat-card-content>

                <mat-card-actions>
                    <button mat-mini-fab color="warn" (click)="delete(e)">X</button>

                </mat-card-actions>
                </mat-card>



            </mat-grid-tile>

        </mat-grid-list>



    </div> -->
</header>
