<header>
    <button mat-raised-button color="warn" (click)="downloadFile()">Télécharger</button>
    <button mat-raised-button color="warn" (click)="test.click()">Import</button>
    
    <input 
    style="display:none;"
    type="file" #csvReader 
    name="Upload CSV" 
    id="txtFileUpload" 
    #test
    (change)="uploadListener($event)" accept=".csv" 
    /> 
    <mat-card class="home-card">
        <mat-card-content>   
            {{wait}} - {{diff}} - mili : {{mili}} - time_to_wait : {{time_to_wait}} - seconde : {{lastGameSeconde}}
            <button mat-raised-button color="primary" [ngClass]="{'hide':wait}" (click)="add()">Go</button>
        </mat-card-content>
    </mat-card>
    <mat-card >
        <mat-card-content>  
    <div>{{lastTime}}</div> 
    <form class="depenses-form" >
        <!--<mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Trésor</mat-label>
            <input matInput maxlength="256" placeholder="Ex. Ordinateur" [formControl]="message">
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>-->
        <p>
            <button mat-raised-button color="primary" (click)="set()">set</button>
        </p>
        <mat-form-field class="number" appearance="fill">
            
            <mat-label>Seconde</mat-label>
            <input class="number-input" matInput type="number"  placeholder="100" [formControl]="seconde" color="warn">
            
        </mat-form-field>
    </form>
</mat-card-content>
<mat-card-actions>
    
</mat-card-actions>
</mat-card>
<!--Afaire

    liste modifiable avec auteur

-->
 <h1>Le plus rapide gagne</h1>

        <div  class="buttonDiv1" style="max-width:10000px;">

            <mat-grid-list #grid cols="4" rowHeight="300px">
                <mat-grid-tile *ngFor="let e of (items)">
                    <mat-card class="d-card">
                        <mat-card-title>{{e.auteur}}</mat-card-title>
                        <mat-card-subtitle>{{e.date}}</mat-card-subtitle>
                        <mat-card-subtitle>{{e.time}}</mat-card-subtitle>
                        <mat-card-content 
                            [style.font-size]="e.fontsize" 
                            style="max-width: 250px;overflow: auto">
                            {{e.type}}
                            <p>{{e.message}}</p>
                        </mat-card-content>
                       
                        

                    <mat-card-actions>
                        <button mat-mini-fab color="warn" (click)="delete2(e)">X</button>

                    </mat-card-actions>
                    </mat-card>
                

                   
                </mat-grid-tile>
          
            </mat-grid-list>
        
        
       
    </div>

<!--     <h1>Les dépenses test</h1>

    <div  class="buttonDiv1" style="max-width:10000px;">
        <mat-grid-list cols="4" rowHeight="200px">
            <mat-grid-tile *ngFor="let e of (items2)">
                <mat-card class="home-card">
                    <mat-card-title>{{e.auteur}}</mat-card-title>
                    <mat-card-subtitle>{{e.date}}</mat-card-subtitle>
                    <mat-card-content>
                        <p>{{e.prix}} $</p>
                        <p>{{e.message}}</p>
                    </mat-card-content>

                <mat-card-actions>
                    <button mat-mini-fab color="warn" (click)="delete(e)">X</button>

                </mat-card-actions>
                </mat-card>
            

               
            </mat-grid-tile>
      
        </mat-grid-list>
    
    
   
    </div> -->
</header>