


// THIS --> https://material.io/design/color/#tools-for-picking-colors
// https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=fa8242

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
//@import url("https://use.typekit.net/jnq3uxd.css");
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
    $font-family: 'sofia-pro'
);


@include mat-core($custom-typography);

$custom-orange: (
    50: #ebffe0,
    100: #b2ffc5,
    200: #8fff80,
    300: #4dff5c,
    400: #26ff26,
    500: #00ff2a,
    600: #00fb21,
    700: #14f500,
    800: #14ef00,
    900: #08e600,
    A100: #80ffa6,
    A200: #40ffa0,
    A400: #00ff22,
    A700: #00ff4c,
    contrast: (
        50: rgb(26, 24, 44),
        100: rgb(26, 24, 44)y,
        200: rgb(26, 24, 44)y,
        300: rgb(26, 24, 44)y,
        400: rgb(26, 24, 44),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgb(26, 24, 44),
        A200: rgb(26, 24, 44),
        A400: rgb(26, 24, 44),
        A700: white,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$firestarter-primary: mat-palette($custom-orange);
$firestarter-accent: mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$firestarter-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$firestarter-theme: mat-dark-theme($firestarter-primary, $firestarter-accent, $firestarter-warn);

// -or- Can set colour by hex value too
$custom-background-color: #8b0404;

$background: map-get($firestarter-theme, background);
$background: map_merge($background, (background: $custom-background-color));
$firestarter-theme: map_merge($firestarter-theme, (background: $background));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($firestarter-theme);

/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, sans-serif; }
a {
    color: white;
    text-decoration: none;
}