
<header>
    <mat-card class="home-card">
        <mat-card-subtitle>Bienvenue sur le site de Marie-Pier et Philippe</mat-card-subtitle>
        <mat-card-title>Marie-Pier aimerait devenir actrice.</mat-card-title>
        <mat-card-subtitle>Philippe aimerait être un entrepreneur et avoir sa compagnie.</mat-card-subtitle>
        <mat-card-content>
            
            <div  class="buttonDiv1" style="width:200px;">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile>
                        
                        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" routerLink="/mppm">
                            <mat-icon style="color: red;" routerLink="/mppm">favorite</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/communication">
                            <mat-icon style="color: rgb(4, 0, 255);" >compare_arrows</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/epicerie">
                            <mat-icon style="color: rgb(0, 241, 20);" >shopping_cart</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/reve">
                            <mat-icon style="color: rgb(251, 255, 0);" >star</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/epicerie">
                            <mat-icon style="color: rgb(152, 134, 252);" >diamond</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/depenses">
                            <mat-icon style="color: rgb(204, 201, 2);" >attach_money</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/depenses2">
                            <mat-icon style="color: rgb(255, 217, 0);" >attach_money</mat-icon>
                        </button>
                    </mat-grid-tile>

                    




                </mat-grid-list>
            </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <div style="width: 200px; margin: auto;">
                <mat-grid-list cols="2" rowHeight="50px">
                    <mat-grid-tile>
                        <button mat-raised-button color="warn">Partage</button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="warn">Aime</button>
                    </mat-grid-tile>
              
                </mat-grid-list>
            </div>
           
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
<div style="height: 100px;"></div>
   
</header>


