
<header>
    <mat-card class="home-card">
        <mat-card-subtitle>Bienvenue sur le site de Philippe Malric</mat-card-subtitle>
        <mat-card-title>Je vais tenter d'ajouter des choses régulièrements</mat-card-title>
        <mat-card-subtitle>Merci de me suivre</mat-card-subtitle>
        <mat-card-content>
            
            <div  class="buttonDiv1" style="width:200px;">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile>
                        <a rel="noopener"href="https://mppm-home-app.web.app/" target="_blank" >
                            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" >
                                <mat-icon style="color: red;" routerLink="/phil">favorite</mat-icon>
                            </button>
                          </a>
                        
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/communication">
                            <mat-icon style="color: rgb(4, 0, 255);" >compare_arrows</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/philippe">
                            <mat-icon style="color: rgb(7, 5, 119);" >account_circle</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/sondage">
                            <mat-icon style="color: rgb(18, 212, 0);" >assessment</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/apitest">
                            <mat-icon style="color: rgb(14, 0, 212);" >switch_access_shortcut_add</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/depenses2">
                            <mat-icon style="color: rgb(255, 217, 0);" >attach_money</mat-icon>
                        </button>
                    </mat-grid-tile>
                    
                </mat-grid-list>
            </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <div style="width: 200px; margin: auto;">
                <mat-grid-list cols="2" rowHeight="50px">
                    <mat-grid-tile>
                        <button mat-raised-button color="warn">Partage</button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="warn">Aime</button>
                    </mat-grid-tile>
              
                </mat-grid-list>
            </div>
           
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>

   
</header>


