
<header>
    <mat-card class="home-card">
        <mat-card-subtitle>Bienvenue sur le site de Marie-Pier et Philippe</mat-card-subtitle>
        <mat-card-title>Marie-Pier est une femme extraordinaire!</mat-card-title>
        <mat-card-subtitle>Philippe l'aime beaucoup</mat-card-subtitle>
        <mat-card-content>
            
            <div  class="buttonDiv1" style="width:200px;">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile>
                        
                        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" routerLink="/mppm">
                            <mat-icon style="color: red;" routerLink="/mppm">favorite</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/communication">
                            <mat-icon style="color: rgb(4, 0, 255);" >compare_arrows</mat-icon>
                        </button>
                    </mat-grid-tile>
              
                </mat-grid-list>
            </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <div style="width: 200px; margin: auto;">
                <mat-grid-list cols="2" rowHeight="50px">
                    <mat-grid-tile>
                        <button mat-raised-button color="warn">Partage</button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="warn">Aime</button>
                    </mat-grid-tile>
              
                </mat-grid-list>
            </div>
           
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>

   
</header>


