<header>

    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Message</mat-label>
          <input matInput #message maxlength="256" placeholder="Ex. J'aimerais que ... " >
          <mat-hint align="start"><strong>Écris ce que tu veux (moins de 260 caractères)</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="add(message.value)">Ajoute le message</button>
<!--Afaire

    liste modifiable avec auteur

-->
 <h1>Espace de sondage</h1>

        <div  class="buttonDiv1" style="max-width:10000px;">
            <mat-grid-list cols="2" rowHeight="600px">
                <mat-grid-tile *ngFor="let e of (items)">
                    <mat-card class="home-card">
                        <mat-card-title>{{e.title}}</mat-card-title>
                        <mat-card-content>
                            {{e.pour}} / {{e.contre}}
                            <mat-grid-list cols="2" rowHeight="50px">
                                <mat-grid-tile >
                                    <button mat-raised-button color="primary" (click)="plusPour(e)">+</button>
                                </mat-grid-tile>
                                <mat-grid-tile >
                                    <button mat-raised-button color="accent" (click)="plusContre(e)">+</button>
                                </mat-grid-tile>
                                <mat-grid-tile >
                                    <button mat-raised-button color="warn" (click)="moinsPour(e)">-</button>
                                </mat-grid-tile>
                                <mat-grid-tile >
                                    <button mat-raised-button color="warn" (click)="moinsContre(e)">-</button>
                                </mat-grid-tile>
                            </mat-grid-list>
                            <app-viz [data]="e"></app-viz>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="warn" (click)="delete(e.id_firestore)">X</button>
                        </mat-card-actions>
                    </mat-card>
                
                    

                   
                </mat-grid-tile>
          
            </mat-grid-list>
            
        
       
    </div>


</header>

